<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>DSR System<</title>
</head>
<body>

<link rel="stylesheet" href="/static/style.css">

<div class="sidebar">
    <h2>DSR System</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/add-sales">Add Sales</a>
    <a href="/report">Sales Report</a>
    <a href="/reconcile">Reconcile</a>
    <a href="/reconcile-report">Reconciliation</a>
    <a href="/logout">Logout</a>
</div>

<div class="main">
    <div class="header">
        <h1>Welcome to Daily Sales Reconciliation System</h1>
    </div>

    <img src="/static/logo.png" alt="Logo" style="width:200px;">
</div>
</body>
</html>